root = true

[**/node_modules/*]
ignore = true

[**/vendor/*]
ignore = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.go]
indent_style = tab
indent_size = 2

[*.sh]
indent_style = space
indent_size = 2
max_line_length = 100
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
never_split = false        # like -ns
function_next_line = false # like -fn
keep_padding = false       # like -kp
space_redirects = false    # like -sr
switch_case_indent = true  # like -ci
binary_next_line = false   # like -bn

[*.{yml,yaml}]
indent_style = space
indent_size = 2
insert_final_newline = true

[*.json]
indent_style = space
indent_size = 2

[*.md]
indent_style = space
indent_size = 2
max_line_length = 0
trim_trailing_whitespace = false
insert_final_newline = true

[*.{js,jsx,ts,tsx,css,less,sass,scss,vue,py}]
indent_style = space
indent_size = 2
max_line_length = 100

# [COMMIT_EDITMSG]
# max_line_length = 0
