root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 100

[*.sh]
indent_style = space
indent_size = 2
never_split = false        # like -ns
function_next_line = false # like -fn
keep_padding = false       # like -kp
space_redirects = false    # like -sr
switch_case_indent = true  # like -ci
binary_next_line = false   # like -bn

[*.md]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false
max_line_length = 0

[*.{yml,yaml}]
indent_style = space
indent_size = 2

[*.json]
indent_style = space
indent_size = 2
insert_final_newline = false

[*.go]
indent_style = tab
indent_size = 2
max_line_length = 0

[*.py]
indent_style = space
indent_size = 4
max_line_length = 88
