name: Go Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
      checks: write
    steps:
      - uses: actions/checkout@v6.0.1

      - name: Set up Go
        uses: actions/setup-go@v6.1.0
        with:
          go-version-file: 'go.mod'

      - name: Run Go Unit Tests with JUnit Report
        run: make go-test-unit

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v6.0.1
        if: always()
        with:
          report_paths: 'logs/unit/junit-report.xml'
          check_name: 'Go Test Results'
          detailed_summary: true
          include_passed: true

      - name: Run Go Coverage Tests
        run: make go-test-coverage

      - name: Code Coverage Summary
        uses: irongut/CodeCoverageSummary@v1.3.0
        with:
          filename: logs/coverage/coverage.xml
          badge: true
          fail_below_min: false
          format: markdown
          hide_branch_rate: false
          hide_complexity: true
          indicators: true
          output: both
          thresholds: '60 80'

      - name: Add Coverage PR Comment
        uses: marocchino/sticky-pull-request-comment@v2.9.4
        if: github.event_name == 'pull_request'
        with:
          recreate: true
          path: code-coverage-results.md

      - name: Upload Coverage Report
        uses: actions/upload-artifact@v6.0.0
        if: always()
        with:
          name: coverage-report
          path: logs/coverage/
          retention-days: 30

      - name: Upload Test Report
        uses: actions/upload-artifact@v6.0.0
        if: always()
        with:
          name: test-report
          path: logs/unit/
          retention-days: 30

      - name: Run Fuzz Tests
        run: make go-test-fuzz
