# SPDX-License-Identifier: Apache-2.0

name: MkDocs

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

concurrency:
  group: pages
  cancel-in-progress: false

jobs:
  build:
    name: MkDocs Action - Build
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Build MkDocs
        uses: ./.github/actions/mkdocs

      - name: Upload Documentation Artifact
        uses: actions/upload-pages-artifact@v4.0.0
        with:
          path: public/

  deploy:
    name: MkDocs Action - Deploy
    if: github.ref == 'refs/heads/main'
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4.0.5
