# SPDX-License-Identifier: Apache-2.0

name: Semgrep

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  semgrep:
    name: Semgrep Action
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Run Semgrep
        uses: sentenz/actions/semgrep@1.1.4
        with:
          config: "auto"
          metrics: "auto"
          no-secrets-validation: "true"
